@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bench-accent: #F97316;
}

body {
  background: #09090B;
  color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer utilities {
  .bench-gradient {
    background: linear-gradient(135deg, #fff 0%, #a1a1aa 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
